{% include 'header.html' %}

<!-- Content for Projects Page -->
<section class="passions" id="passions" style="padding-top: 0px;">
    <div class="container">
        <h1 style="visibility: hidden;">Passions</h1>
        <div class="passions-list">
            <div class="passion">
                <h2>Artificial Intelligence and Machine Learning</h2>
                <p>My fascination with AI's potential to transform industries and enhance human capabilities drives me to constantly learn and explore the latest technological advancements.</p>
            </div>
            <div class="passion">
                <h2>Frontend Development</h2>
                <p>Crafting digital dreams through pixels and code, I bring imagination to life in the world of front-end development</p>
            </div>
            <div class="passion">
                <h2>Backend Development</h2>
                <p>Behind every seamless experience, lies the robust foundation I build as a backend developer, making digital interactions come to life</p>
            </div>
            <div class="passion">
                <h2>Penetration Testing</h2>
                <p>Unveiling vulnerabilities to fortify digital realms, I'm the guardian who exposes weaknesses, ensuring your digital fortresses stand strong through penetration testing.</p>
            </div>
            <div class="passion">
                <h2>Database Systems</h2>
                <p>From scattered information to structured insights, I sculpt the heart of data-driven solutions as a skilled navigator of databases.</p>
            </div>
            <div class="passion">
                <h2>Computer Networks</h2>
                <p>Interconnecting the virtual universe, I'm the architect of seamless digital pathways, shaping the intricate web of computer networks.</p>
            </div>
        </div>
    </div>
</section>
