{% include 'header.html' %}

<!--Projects-->
<section class="proj" style="padding-top: 0px;">
    <div class="portfolio" id="my-works">
        <div class="portfolio-container container">
            <div class="proj-1" style="height: 400px;">
                <img src="../static/images/login.jpg" alt="" loading="lazy"/>
                <div class="proj1-details">
                    <i class="bx bxl-react"></i>
                    <i class="bx bx-data"></i>
                    <h2 style="color: var(--primary);">Login</h2>
                    <p style="color: var(--primary);">Built using React</p>
                    <button><a href="https://github.com/dharsann/login_register" target="blank">View source<i class="bx bx-link-external"></i></a></button>
                </div>
            </div>
            <div class="proj-2"  style="height: 400px;">
                <img src="../static/images/secure_save.jpg" alt="" loading="lazy"/>
                <div class="proj2-details">
                  <i class="bx bxl-python"></i>
                  <h2 style="color: var(--primary);">Secure Save</h2>
                  <p style="color: var(--primary);">Built using Python</p>
                  <button><a href="https://github.com/dharsann/network" target="blank">View source<i class="bx bx-link-external"></i></a></button>
                </div>
            </div>
            <div class="proj-3" style="height: 400px;">
                <img src="../static/images/smart_kiosk.jpg" alt="" loading="lazy"/>
                <div class="proj3-details">
                    <i class="bx bxl-java"></i>
                    <i class="bx bx-data"></i>
                    <h2 style="color: var(--primary);">Smart Kiosk</h2>
                    <p style="color: var(--primary);">Built using Java and MySQL</p>
                    <button><a href="https://github.com/dharsann/smart_kiosk" target="blank">View source<i class="bx bx-link-external"></i></a></button>
                </div>
            </div>
            <div class="proj-4"  style="height: 400px;">
                <img src="../static/images/weather.png" alt="" loading="lazy"/>
                <div class="proj4-details">
                  <i class="bx bxl-python"></i>
                  <i class="bx bxl-html"></i>
                  <h2 style="color: var(--primary);">Weather app</h2>
                  <p style="color: var(--primary);">Built using Python</p>
                  <button><a href="https://github.com/dharsann/weather" target="blank">View source<i class="bx bx-link-external"></i></a></button>
                </div>
            </div>
        </div>
    </div>
</section>

